.container{
    display: flex;
    width: 95%;
    margin: 0 auto;justify-content: center;
    align-items: center;
    height: 100vh;
}
.btn,
#input{
    height: 40px;
}
#input{
    outline: none;
    border-radius: 20px;
    border: 1px solid rgba(0, 0, 0, 0.315);
    margin-right: 15px;
}
.btn{
    padding: 5px 15px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.315);
    margin-right: 15px;
    cursor: pointer;
}
.btn:hover{
    background: #83fff9;
}
h1{
    margin-right: 50px;
}